{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/select2.css') }}">
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}">

    {% endblock %}

    <h2>Rejoignez la communauter parteat</h2>
    <h3>La petite Brigade Parteats</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img height="500" width="600"  src="{{ asset('image/undraw_team_spirit_hrr4 (1).png') }}" style="float: right"
         alt="l'équipe est là">
    <h3 style="line-height: 70px" >On a de la chance de s'être rencontrés !</h3>
    <br>
    <br>

    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Chez WF3</h5>
            <p class="card-text" style="font-family: cursive"> Nous avons intégré une formation de concepteur développeur web et application, une formation ou nous avions en projet de créer un site internet fonctionnel et attrayant que nous avons baptiser : parteat, car tout d'abord nous sommes très gourmands et nous voulions que vous aussi puissiez profiter des talents culinaires
            de vos voisins, plus besoins de parcourir des kilomètres pour déguster de bon plat !!
            </p>

        </div>
        <div class="card-footer text-muted">
            il ya 1 jour
        </div>
    </div>
    <img src="{{ asset('image/avatarCedric.png') }}" height="200" width="200" class="clip-path" alt="Portrait">
    <img src="{{ asset('image/avatarAssa.png') }}" height="200" width="200"class="clip-path" alt="Portrait">






    </div>





{% endblock %}

